@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&family=Playwrite+HU&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h3{
    text-align: center;
    color: rgb(85, 180, 239);
    font-family: "Playwrite HU", cursive ;
    margin: 10px;
}

.bgimg{
    position: relative;
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(teaching.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.custom-left-column{
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

#teach h4{
    margin: 10px;
    text-decoration: underline;
    font-family:"Playwrite AU QLD", cursive ;
    color: black;
}

#teach li{
    margin: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}